extends Layouts/Main

block content
    div.video__player
        video(src=`/${video.fileUrl}`)
    div.video__info
        a(href=routes.editVideo) Edit Video
        h5.video__title=video.title
        span.video__views=video.views
        p.video__description=video.description
