header.header
    div.header__wrapper
        div.header__column
            a(href=routes.home)
                i.fab.fa-youtube
        div.header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term..." name="term")
        div.header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log in
                else
                    li
                        a(href=`${routes.videos}${routes.upload}`) Upload
                    li
                        a(href=routes.userDetail(loggedUser.id)) Profile
                    li
                        a(href=routes.logout) Log Out